.span3
  .well.sidebar-nav
    %ul.nav.nav-list
      %h3 Выбор по рубрикам
      %li.nav-header
      - @tags.each do |tag|
        %li
          = link_to "##{tag.name}", user_path(current_user)
      %hr
.span9
  %h1
    Лента новостей
  -@post.each do |post|
    .span6.news
      .hero-unit
        %h3
          =post.from
        .span6
          =image_tag(post.pic_url)
        =post.message[0..200]
        %p
          =image_tag 'like.png', class: 'like'
          =post.likes
