.span3
  .fixed_menu
    .well.sidebar-nav
      %ul.nav.nav-list
        %h3 Выбор по рубрикам
        %li.nav-header
        - @tags.each do |tag|
          %li
            = link_to "##{tag.name}", user_path(current_user, :current_tag_id => tag.id)
        %hr
.span9
  %h1.text-center
    Лента новостей
  -@post.each do |post|
    .span6.news
      .hero-unit
        .media
          %h4.media-heading.text-center
            =post.from
          -unless post.pic_url == '0'
            %a.pull-left{href: post.pic_url}
              =image_tag post.pic_url, class: 'img-polaroid img_blog'
          .media-body
            .media
              .text-center.post_time
                =post.updated_time
              %p.post_msg
                -#=post.message[0..150]
              %a.msgpop{'data-content' => '',
               'data-original-title' => "#{post.message}", href: '#',
                rel: 'popover', 'data-placement' => 'bottom', 'data-trigger' => 'hover' }
                =post.message[0..150]
                -if post.message.length > 150
                  "..."
        %p
          =image_tag 'like.png', class: 'like'
          =post.likes
          -#=post.comments.message.all
.row
  .span6
  .span4
    = will_paginate @post, class: "apple_pagination"
:javascript
  $(function (){
     $(".msgpop").popover();
  });